<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>

        <!-- Database connection settings -->
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://52.38.209.62:3306/platformdb</property>
        <property name="hibernate.connection.username">admin</property>
        <property name="hibernate.connection.password">P@ssw0rd</property>

        <!-- SQL dialect -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <!-- Specify session context -->
        <property name="hibernate.current_session_context_class">thread</property>
        
        <!-- Outputs the SQL queries, should be disabled in Production -->
		<property name="hibernate.show_sql">true</property>				
        
        <mapping resource="usuario.hbm.xml"/>
        <mapping resource="tipo.hbm.xml"/>
        <mapping resource="vocabulario.hbm.xml"/>
        <mapping resource="pregunta.hbm.xml"/>
		<mapping resource="cuestionario.hbm.xml"/>  

    </session-factory>

</hibernate-configuration>